<div
  id="searchToDo"
  class="bg-light rounded border border-light d-flex align-items-center justify-content-center position-relative"
>
  <div class="fw-bold fa-solid fa-magnifying-glass position-absolute"
  [ngStyle]="{
    color:
    this.appState
    &&this.appState.typing
    &&this.toDo
    &&this.toDo.length>0
    &&this.tempArr
    &&this.tempArr.length!=this.toDo.length
    ?'#28529f':''
  }"
></div>
  <form [formGroup]="searchToDoForm">
    <input
      spellcheck="false"
      autocomplete="off"
      placeholder="Search"
      formControlName="search"
      autocomplete="off"
      (input)="type()"
    />
    <div 
    [ngStyle]="{
      color:
      this.config
      &&this.config.caseSensitive
      ?'#28529f':'#919191',
      zoom:
      this.config
      &&this.config.caseSensitive
      ?'1.05':'1'
    }"
    [ngClass]="
      this.config
      &&this.config.showOptions.caseSensitive
      ? 'globalShow'
      : 'hideGlobal'
     "
     (click)="caseSensitive()"
    >Aa</div>
    <div 
    [ngStyle]="{
      color:
      this.config
      &&this.config.wildCard
      ?'#28529f':'#919191',
      zoom:
      this.config
      &&this.config.wildCard
      ?'1.05':'1'
    }"
    [ngClass]="
      this.config
      &&this.config.showOptions.wildCard
      ? 'globalShow'
      : 'hideGlobal'
     "
     (click)="wildCard()"
    >*</div>
  </form>
</div>


